# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# ESLint
.eslintcache

# Configuration
config/local.json

# Logs
log/*
!log/.gitkeep

# NPM
node_modules
npm-debug.log

# New Relic
newrelic_agent.log

# Coverage
.nyc_output
coverage
