# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# ESLint
.eslintcache

# Configuration
config/local.json

# Logs
log/*
!log/.gitkeep

# Dependencies
node_modules

# New Relic
newrelic_agent.log

